<% include partials/header %>


<div class="container">


  <div class="dienstenVerdeling">

    <h3>Instructie</h3>

    <p>U kunt bij mij terecht voor dressuurinstructie en coaching t/m ZZL niveau. Ik vind het belangrijk te werken aan een gedegen basis en vanuit daar meer wedstrijdgerichte training op te pakken. Doordat ik tevens jurylid ben kan ik deze kennis
      ook
      goed gebruiken in de meer proefgerichte trainingen. Daarnaast vind ik het erg leuk betrokken te zijn bij het hele traject van training tot aan de wedstrijden en coach ik ook combinaties op wedstrijden. Vraag gerust vrijblijvend een proefles
      aan!

      Ik geef ook instructie op locatie!!</p>

  </div>

  <div class="dienstenVerdeling">

    <h3>Training</h3>

    <p>
      Daarnaast breng ik paarden uit in de sport op alle niveaus, zowel eigen paarden als paarden van derden. Ook is het mogelijk om paarden op tot leiden tot een bepaald niveau voor bijv. verkoop, predicaat, PAVO etc. Informeert u vrijblijvend naar
      de mogelijkheden.
    </p>
  </div>

  <div class="dienstenVerdeling">

    <h3>Paarden</h3>

  </div>






  <div class="container">
    <div class="row">


      <div class="col-sm-6">
        <p>
          Huidige paarden in training:
        </p>
      </div>
      <div class="col-sm-6">
        <img class="imagesDiensten" src="Images/trainingpaard.jpg" alt="">

      </div>

    </div>
  </div>


  <% include partials/footer %>
