<% include partials/header %>

<div class="container">

  <h1>Welkom op mijn website</h1>

  <p>
    Mijn naam is Laily Barelds-Willemsen, via deze weg wil ik u graag kennis laten maken met mij! <br />

    U kunt bij mij terecht voor dressuurinstructie, zowel pony als paard. Ik begeleid al vele jaren dressuurcombinaties t/m ZZlicht niveau.<br />
    Naast instructie breng ik paarden uit in de dressuursport op alle niveaus, zowel eigen paarden als paarden van derden.<br />
    Ook leid ik paarden op tot een bepaald niveau voor bijv. verkoop, predicaat, PAVO etc. <br />
    In 2006 heb ik de laatste fase van de ORUN opleiding met succes afgerond, en beschik over een ORUN-4 licentie.<br />
    Tevens ben ik in het bezit van een jury-licentie. <br />
  </p>

  <p>

    Zelf heb ik bij diverse instructeurs kennis en vaardigheden opgedaan. Zo heb ik enkele jaren getraind bij Johan Hamminga, daarna bij Adelinde Cornelissen. <br />
    In 2010 heb ik op een stal in Oostenrijk paarden getraind van groen tot en met lichte tour niveau, daar werd ik begeleid door Adelinde Cornelissen en door Jarko Dun.
    Op dit moment wordt ik begeleid door Hergen van Hall en Sjak Laarakkers. <br />
  </p>

  <p>
    Tevens ben ik distributeur van Shires en Bridleway, die bekend staan om hun uitstekende prijs/kwaliteitsverhouding.
  </p>


</div>

<div class="container">

<p> Kijk gerust even verder!  </p>

</div>


<% include partials/footer %>
