<% include partials/header %>




<div class="container">
  <div class="row">

    <div class="col-sm-12">
<h2>Distributeur Shires/Bridleway</h2>
    </div>
    <div class="col-sm-12">
      <p>
        Ik ben distribiteur van het merk Shires <a href="https://issuu.com/shiresequestrian/docs/shires-retail" target="_blank">(Catalogus)</a> en Bridleway. <br />
        Zij staan vooral bekend om de zeer goede prijs kwaliteit verhouding. <br /> Alle producten van beide merken kan ik bestellen/leveren. Vraag gerust om advies!

        </p>
      </div>
      <div class="col-sm-12 logoDiv">
<img class="logo" src="Images\shires-logo.jpg" alt="">
      </div>
      <div class="col-sm-12 logoDiv">
<img class="logo"  src="Images\bridleway.png" alt="">
      </div>

  </div>

</div>


<% include partials/footer %>
